<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>Contacts Deleted</title>
</head>
<body>
    <div class="container">
        <div class="well">

            <h1>Your contacts have successfully been deleted.</h1>
            <a href='/'>Go back and start fresh!</a>

        </div>
    </div>
</body>
</html>
