<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <title>New Contact Made!</title>
  </head>
  <body>
    <div class="container-fluid" id="contact-created">
      <div class="well">
        <h1>New contact created!</h1>
        <h3>{{ contact.getName }}</h3>
        <ul>
          <img src='{{ contact.getImage }}' width='120px'>
          <li> {{ contact.getNumber }}</li>
          <li> {{ contact.getAddress }}</li>
        </ul>
        <a href='/'>Back to Contacts</a>
      </div>
    </div>
 </body>
</html>
