

body {
    background-color: teal;
    text-align: center;
}



ul {
    list-style-type: none;
}

.well {
    background-color: salmon;
    text-align: center;
    overflow: hidden;

}

.well img {
    float: left;
}

.panel img {
    float: left;
    margin: 20px;
}

.container-fluid {
    overflow: auto;
}

.form-group{
    float: right;
}
